<footer class="footer">
    <div class="footer-inner" style="text-align: <%- is_post() ? 'center' : 'left' %>">
        <p>
            <a href="/about"  title="<%= __('about') %>"><%= __('about') %></a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <!-- 自定义链接 -->
            <a href="/help" title="<%= __('help') %>" ><%= __('help') %></a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="/links" title="<%= __('links') %>"><%= __('links') %></a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="/sitemap.xml" title="<%= __('map') %>"><%= __('map') %></a>
        </p>
    </div>
</footer>
<%- js(['js/SimpleCore']) %>
